.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

.grid-container > div {
	text-align: center;
}

/*plots*/

.main-plot{
	grid-column: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	border: 1px solid black;

}

.velocity{
	grid-column: 1;
	grid-row: 2;
	width: 350px;
	height: 350px;
}

.plot{
	width: 100%;
	border: 1px solid black;
	height: 85%;
}

.acceleration{
	grid-column: 1;
	grid-row: 3;
	width: 350px;
	height: 350px;
}

/*buttons and more*/

.clear-canvas{
	grid-column: 2;
	grid-row: 1;

}

.continuity-modes {
	display: flex;
	justify-content: space-evenly;
	grid-column: 1;
	grid-row: 1;
}

.continuity-modes > button {
	width: 33%;
}